.world_map {
position: relative;
height: 500px;
width: 1000px;
margin: 0 auto;
padding: 0;
background-color: black;
}

.daily_cases_plots {
position: relative;
height: auto;
width: auto;
margin: 0 auto;
padding: 0;
}


form select {
width: 10%;
}
